<div id="load" class="load">
  <table style="color:white;">
    <tr><td></td><td> </td><td></td></tr>
    <tr><td><H1>Frecuencia Cardíaca:</H1></td><td>   </td><td style="color:green; font-size:200%"><H1>{{ FC }}</H1></td><td style="color:white; font-size:200%"> LPM</td></tr>
  </table>
  <table style="color:white;">
    <tr><td></td><td> </td><td></td></tr>
    <tr><td><H1>Saturación:</H1></td><td>   </td><td style="color:yellow; font-size:200%"><H1>{{ SAT }}</H1></td><td style="color:white; font-size:200%"> %</td></tr>
  </table>
</div>